.sidebar {
    width: 72px;
    flex-shrink: 0;
    background-color: #044343;
}


.sb-btn {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;

    position: relative;
    overflow: hidden;
}

.sb-icon-cont {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.sidebar-label {
    font-size: 12px;
    opacity: 0;
    transform: translateY(-4px);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

.sb-dark {
    opacity: 0;
}

.sb-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
}

.sb-prof-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
    transition: border 0.1s ease;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.sb-prof-icon {
    transition: transform 0.12s ease;
}

.sb-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(0);
    border-radius: 50%;
    opacity: 0.3;
    transition: transform 0.35s ease, opacity 0.4s ease;
}

.sidebar-link:active .sb-btn::after {
    transform: scale(2);
    opacity: 0;
}

.sidebar-link:active .sb-btn {
    transform: scale(0.85);
}

/* ICONS */
.sb-dark {
    opacity: 0;
}

.sidebar-link:hover .sidebar-label {
    opacity: 1;
    transform: translateY(0);
}

/* Homepage active on default */
.sidebar-link:hover .sb-white,
.sidebar-link.active .sb-white {
    opacity: 0;
}

.sidebar-link:hover .sb-dark,
.sidebar-link.active .sb-dark {
    opacity: 1;
}

.sidebar-link:hover .sb-btn,
.sidebar-link.active .sb-btn {
    background: white;
}

.sb-prof-icon {
    transition: transform 0.12s ease;
}

.sb-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(0);
    border-radius: 50%;
    opacity: 0.3;
    transition: transform 0.35s ease, opacity 0.4s ease;
}

.sidebar-link:active .sb-btn::after {
    transform: scale(2);
    opacity: 0;
}

.sidebar-link:active .sb-btn {
    transform: scale(0.85);
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition:
        transform 0.15s cubic-bezier(.2,.8,.2,1),
        background-color 0.15s ease;
}

.icon-btn:hover {
    transform: scale(1.08);
    background-color: rgba(0, 0, 0, 0.06);
}

.icon-btn:active {
    transform: scale(0.88);
}

.icon-img {
    width: 30px;
    height: 30px;
    pointer-events: none; /* ensures click stays on parent */
}
